## The Four Basic Collections

### [Tuple](https://docs.python.org/3/library/stdtypes.html#tuples)

- A tuple is an immutable, heterogenous sequence.
- The tuple can be indexed by natural numbers.
- Immutable means that items cannot be added, removed, or reassigned.
- Heterogenous means that the items do not need to have the same type.
- Indexing takes O(1) time, inclusion test takes O(n) time, where n is the number of items.

In [1]:
# Create a tuple variable t that contains 3 items!
# (The items do not need to have the same type.)
t = (20, 30, 40, 'foo')

In [2]:
# A tuple can contain another tuple as an item.
(1, (2, 3))

(1, (2, 3))

In [3]:
# Check the type of t!
type(t)

tuple

In [4]:
# The len() function returns the number of items.
len(t)

4

In [5]:
# Accessing an item of the tuple (indexing starts from 0).
t[0]

20

In [6]:
t[3]

'foo'

In [7]:
t[100]

IndexError: tuple index out of range

In [8]:
# The items cannot be reassigned!
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [9]:
# However, the variable t can get a new value.
t = (11, 22, 33)
t

(11, 22, 33)

In [10]:
# Inclusion test.
33 in t

True

In [11]:
34 in t

False

In [12]:
# If it does not cause ambiguity, the ( and ) signs can be omitted!
t = 11, 22, 33

In [13]:
type(t)

tuple

In [14]:
# Creating an empty tuple.
()

()

In [15]:
len(())

0

In [16]:
type(())

tuple

In [17]:
# Creating a tuple of size one.
(42,)

(42,)

### [List](https://docs.python.org/3/library/stdtypes.html#lists)

- List is the mutable version of tuple. Items can be added, removed, or reassigned.
- Like for tuples, indexing takes O(1) time, and inclusion test takes O(n) time.

In [18]:
# Create a list variable l that has 4 items!
# (The items do not need to have the same type.)
l = [10, 20, 30, 'bar']

In [19]:
l

[10, 20, 30, 'bar']

In [20]:
# Check the type of l and query the number of items!
type(l)

list

In [21]:
len(l)

4

In [22]:
# Accessing the items of the list (indexing starts from 0).
l[0]

10

In [23]:
# Modifying a list item.
l[0] = 100
l

[100, 20, 30, 'bar']

In [24]:
# A list can contain another list as an item.
[10, 20, [30, 40]]

[10, 20, [30, 40]]

In [25]:
# Appending an item to the end.
l.append(40)
l

[100, 20, 30, 'bar', 40]

In [26]:
# Can a tuple contain a list?
t = (10, 20, [30])
# Yes.

In [27]:
t[2] = 100

TypeError: 'tuple' object does not support item assignment

In [28]:
t[2].append(40)
t

(10, 20, [30, 40])

In [29]:
# Inserting an item into a given position.
l.insert(2, 'apple')
l

[100, 20, 'apple', 30, 'bar', 40]

In [30]:
# Inclusion test.
30 in l

True

In [31]:
# Determining the index of a given value (the first occurrence).
l.index('bar')

4

In [32]:
l.index(1000)

ValueError: 1000 is not in list

In [33]:
# Appending all items of a sequence to the list using extend().
l.extend([1, 2, 3])
l

[100, 20, 'apple', 30, 'bar', 40, 1, 2, 3]

In [34]:
# Watch out, extend() is different from append()!
l.append([1, 2, 3])
l

[100, 20, 'apple', 30, 'bar', 40, 1, 2, 3, [1, 2, 3]]

In [35]:
# Removing an item at the given index.
l.pop(1)

20

In [36]:
l

[100, 'apple', 30, 'bar', 40, 1, 2, 3, [1, 2, 3]]

In [37]:
# Removing the last item.
l.pop()

[1, 2, 3]

In [38]:
l

[100, 'apple', 30, 'bar', 40, 1, 2, 3]

In [39]:
# Concatenating two lists.
[2, 3, 4] + [4, 5]

[2, 3, 4, 4, 5]

In [40]:
# Building a list from a repeated sequence.
[0, 1] * 5

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [41]:
[0] * 20

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [42]:
# Creating an empty list.
[]

[]

### [Set](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

- The set data type is an implementation of the mathematical concept of set.
- A set cannot be indexed.
- Inclusion test runs in O(1) time.
- The set can grow/shrink, but the existing elements cannot be modified - they must be hashable.

In [43]:
# Create a set variable s!
s = {2, 3, 4, 'xy'}

In [44]:
# Check the type and element count of s!
type(s)

set

In [45]:
len(s)

4

In [46]:
# Inclusion test.
4 in s

True

In [47]:
'abc' in s

False

In [48]:
hash('abc')

-4521034935526568604

In [49]:
hash('abd')

-6413745211959445630

In [50]:
# Adding an element to the set.
s.add(10)
s

{10, 2, 3, 4, 'xy'}

In [51]:
{1, 1, 1, 2}

{1, 2}

In [52]:
# Removing an element.
s.remove(3)
s

{10, 2, 4, 'xy'}

In [53]:
s.remove(3)

KeyError: 3

In [54]:
# Set operations (union, intersection, difference).
{2, 3, 4} | {4, 5} # union

{2, 3, 4, 5}

In [55]:
{2, 3, 4} & {4, 5} # intersection

{4}

In [56]:
{2, 3, 4} - {4, 5} # difference

{2, 3}

In [57]:
# A set can contain any element of immutable type.
{1, 'foo', (2, 3)}

{(2, 3), 1, 'foo'}

In [58]:
# ...but it cannot contain a mutable element!
{1, 'foo', [2, 3]}

TypeError: unhashable type: 'list'

In [59]:
# Can a set contain a tuple that contains a list?
{1, 'foo', (2, 3, [4])}

TypeError: unhashable type: 'list'

In [60]:
# Creating an empty set.
set()

set()

### [Dictionary](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

- A dict(ionary) is a set of key-value pairs, where the keys are unique.
- The key's data type can be a simple data type, tuple or any hashable data type.
- Indexing can be done by the key, in O(1) time.

In [61]:
# Create a dict variable d!
d = {'a': 10, 'b': 20}
d

{'a': 10, 'b': 20}

In [62]:
# Check the type and the element count of d!
type(d)

dict

In [63]:
len(d)

2

In [64]:
# Querying the assigned value of an existing key.
d['a']

10

In [65]:
# Querying the assigned value of a non-existent key.
d['xyz']

KeyError: 'xyz'

In [66]:
# Changing the assigned value of a key.
d['a'] = 100
d

{'a': 100, 'b': 20}

In [67]:
# Inserting a new key-value pair.
d['c'] = 30
d

{'a': 100, 'b': 20, 'c': 30}

In [68]:
# Removing a key-value pair.
del d['b']
d

{'a': 100, 'c': 30}

In [69]:
# Is a key contained in the dict?
'xyz' in d

False

In [70]:
# Creating an empty dict.
{}

{}

In [71]:
# Can tuples be dict keys?
{(10, 20): 'foo'}

{(10, 20): 'foo'}

In [72]:
{(10, 20, []): 'foo'}

TypeError: unhashable type: 'list'

In [73]:
{0: 10, 1: 20, 2: 30}

{0: 10, 1: 20, 2: 30}

In [74]:
[10, 20, 30]

[10, 20, 30]

## Conversion

For every data type discussed so far, there is a function that converts to the given type from any other type, if the conversion makes sense.

In [75]:
int(2.7) # float => int

2

In [76]:
int('12') # str => int

12

In [77]:
int('12.5')

ValueError: invalid literal for int() with base 10: '12.5'

In [78]:
int([10])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [79]:
float('10') # str => float

10.0

In [80]:
float('12.5')

12.5

In [81]:
float(42) # int => float

42.0

In [82]:
float(99999999999999999999999999999999999999999999999999999999999999999999999999999999999)

1e+83

In [83]:
str(20) # int => str

'20'

In [84]:
str([1, 2, 3])

'[1, 2, 3]'

In [85]:
tuple([1, 2, 3]) # list => tuple

(1, 2, 3)

In [86]:
list((4, 5, 6)) # tuple => list

[4, 5, 6]

In [87]:
set((7, 8, 9)) # tuple => set

{7, 8, 9}

In [88]:
set((7, 8, 9, 9))

{7, 8, 9}

In [89]:
# Converting a list of key-value pairs to dict.
dict([('aa', 100), ('bb', 200)])

{'aa': 100, 'bb': 200}

In [90]:
# Converting a dict to a list of key-value pairs.
list({'aa': 100, 'bb': 200}.items())

[('aa', 100), ('bb', 200)]

In [91]:
# The default value of list.
list()

[]

In [92]:
set()

set()

In [93]:
# The default value of int.
int()

0