## [Unpacking](https://treyhunner.com/2018/03/tuple-unpacking-improves-python-code-readability/)

Unpacking in Python **generalizes the assignment statement** by allowing iterable structures (such as tuples and list) on both sides of the assignment operator. When these structures are **compatible**, Python matches and assigns corresponding elements from the right-hand side iterable to the variables or nested structures on the left-hand side.

In [1]:
# Example for unpacking.
x, [y, z] = ['foo', (10, (1, 2))]

In [2]:
x

'foo'

In [3]:
y

10

In [4]:
z

(1, 2)

In [8]:
# What happens if the two sides of the assignment are not compatible?
x, y = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [10]:
# Lists and tuples can be interchanged.
[x, (y, z)] = ('foo', [10, (1, 2)])
print(x, y, z)

foo 10 (1, 2)

In [11]:
# Application of unpacking for multiple assignment.
a, b = 10, 20
print(a, b)

10 20

In [14]:
# Application of unpacking for swapping values.
a, b = b, a
print(a, b)

20 10

In [15]:
# Unpacking used in a for loop.
pairs = [(10, 'foo'), (20, 'bar')]
for x, y in pairs:
    print(x, y)

10 foo
20 bar

## [Slicing](https://docs.python.org/3/library/functions.html#slice)

- Slicing is the generalization of indexing.
- The syntax of the slice notation is `[lower bound: upper bound: step size]`.
- The selection interval is open from above, meaning that the upper bound specifies the first index that is not selected.

In [16]:
# Example applications of slicing.
data = [10, 20, 30, 40, 'foo', 'bar', 'banana']
data[1:5:1]

[20, 30, 40, 'foo']

In [17]:
data[1:6:2]

[20, 40, 'bar']

In [18]:
# The lower and upper bound and also the step size can be omitted.
data[:2:1] # if lower bound is omitted, then we go from the start

[10, 20]

In [19]:
data[1::1] # if upper bound is omitted, then we go until the end

[20, 30, 40, 'foo', 'bar', 'banana']

In [20]:
data[1:3] # the step size is 1 by default

[20, 30]

In [21]:
data[:2] # here we omit both the lower bound and the step size

[10, 20]

In [22]:
# We can use negative indices, -1 corresponds to the last item.
data[-1]

'banana'

In [23]:
data[-2]

'bar'

In [24]:
data[:-1] # all items except the last

[10, 20, 30, 40, 'foo', 'bar']

In [25]:
data[-3:] # last 3 items

['foo', 'bar', 'banana']

In [26]:
# The step size can also be negative.
data[3:0:-1]

[40, 30, 20]

In [27]:
data[::-1]

['banana', 'bar', 'foo', 40, 30, 20, 10]

In [29]:
data2 = data[::-1]
data2[0] = 'orange'
print(data)
print(data2)

[10, 20, 30, 40, 'foo', 'bar', 'banana']
['orange', 'bar', 'foo', 40, 30, 20, 10]

In [30]:
data[3:0]

[]

In [31]:
# select elements with even indices
data[::2]

[10, 30, 'foo', 'banana']

In [32]:
# select elements with odd indices
data[1::2]

[20, 40, 'bar']

In [33]:
# slicing also works with tuples
t = (1, 2, 3, 4)
t[:2]

(1, 2)

## Advanced iteration techniques

### [enumerate](https://docs.python.org/3/library/functions.html#enumerate)

In [4]:
# Iterating over both the items and indices, ordinary solution.
seq = ['foo', 'bar', 'banana']
for i in range(len(seq)):
    print (i, seq[i])

0 foo
1 bar
2 banana

In [3]:
# A more elegant solution, using enumerate:
for i, si in enumerate(seq):
    print(i, si)

0 foo
1 bar
2 banana

In [41]:
# The result of enumerate is an iterable object.
type(enumerate(seq))

enumerate

In [5]:
# Conversion to a list of pairs.
list(enumerate(seq))

[(0, 'foo'), (1, 'bar'), (2, 'banana')]

In [44]:
seq = [('foo', 10), ('bar', 20), ('banana', 30)]
list(enumerate(seq))

[(0, ('foo', 10)), (1, ('bar', 20)), (2, ('banana', 30))]

In [45]:
# Using enumerate without unpacking.
seq = ['foo', 'bar', 'banana']
for x in enumerate(seq):
    print(x[0], x[1])

0 foo
1 bar
2 banana

In [48]:
# Using enumerate to account line numbers at file processing.
for i, line in enumerate(open('example_file.txt')):
    print(i, line)

0 # example data

1 apple,10

2 pear,20

3 cherry,30

### [zip](https://docs.python.org/3/library/functions.html#zip)

In [51]:
# Iterating over multiple sequences in parallel, ordinary solution.

seq1 = ['foo', 'bar', 'banana']
seq2 = [10, 20, 30]
for i in range(len(seq1)):
    print(seq1[i], seq2[i])

foo 10
bar 20
banana 30

In [54]:
# A more elegant solution, using zip:
for x, y in zip(seq1, seq2):
    print(x, y)

foo 10
bar 20
banana 30

In [56]:
# The result of zip is an iterable object.
type(zip(seq1, seq2))

zip

In [57]:
# Conversion to a list.
list(zip(seq1, seq2))

[('foo', 10), ('bar', 20), ('banana', 30)]

In [58]:
# Using zip without unpacking.
for x in zip(seq1, seq2):
    print(x[0], x[1])

foo 10
bar 20
banana 30

In [59]:
# If the sequences have different sizes, then the result will get the length of the shorter one.
seq1 = ['foo', 'bar', 'banana']
seq2 = [10, 20]
for x, y in zip(seq1, seq2):
    print(x, y)

foo 10
bar 20

In [61]:
# Also, zip can be applied to more than two sequences.
seq1 = ['foo', 'bar', 'banana']
seq2 = [10, 20, 30]
seq3 = [1.5, 2.5, 3.5]
for x, y, z in zip(seq1, seq2, seq3):
    print(x, y, z)

foo 10 1.5
bar 20 2.5
banana 30 3.5

In [65]:
list(enumerate(zip(seq1, seq2, seq3)))

[(0, ('foo', 10, 1.5)), (1, ('bar', 20, 2.5)), (2, ('banana', 30, 3.5))]

In [68]:
list(zip(enumerate(seq1), enumerate(seq2), enumerate(seq3)))

[((0, 'foo'), (0, 10), (0, 1.5)),
 ((1, 'bar'), (1, 20), (1, 2.5)),
 ((2, 'banana'), (2, 30), (2, 3.5))]

## Exercises / 1

In [82]:
# Write a program that creates a dict from a string
# of the following format: 'KEY_1,VALUE_1,...KEY_n,VALUE_n'.

s = 'apple,10,pear,20,banana,30,orange,40'
tok = s.split(',')

In [80]:
# solution 1
{key: int(val) for key, val in zip(tok[::2], tok[1::2])}

{'apple': 10, 'pear': 20, 'banana': 30, 'orange': 40}

In [81]:
# solution 2 (without converting the values to int)
dict(zip(tok[::2], tok[1::2]))

{'apple': '10', 'pear': '20', 'banana': '30', 'orange': '40'}

In [83]:
# solution 3 (using an index based loop)
res = {}
for i in range(0, len(tok), 2):
    key = tok[i]
    val = int(tok[i + 1])
    res[key] = val
res

{'apple': 10, 'pear': 20, 'banana': 30, 'orange': 40}

In [92]:
# Write a program that creates a difference sequence from the number sequence [a_1, ..., a_n],
# so that i-th element of the difference sequence is a_{i+1} - a_i.

a = [10, 12, 15, 16, 22, 33, 40]

# solution 1:
[a[i + 1] - a[i] for i in range(len(a) - 1)]

[2, 3, 1, 6, 11, 7]

In [97]:
# solution 2:
[x - y for x, y in zip(a[1:], a)]

[2, 3, 1, 6, 11, 7]

In [101]:
# Write a program that simulates a 5-from-90 lottery draw,
# without using the function random.sample.

# first: how to simulate the lottery draw with random.sample?
import random
random.sample(range(1, 91), 5)

[76, 5, 67, 80, 58]

In [120]:
# solution 1:
res = set()
while len(res) < 5:
    res.add(random.randint(1, 90))
res

{12, 23, 36, 58, 68}

In [122]:
# solution 2: (generating exactly 5 random numbers)
balls = list(range(1, 91))
for j in range(5):
    idx = random.randint(0, len(balls) - 1 - j)
    balls[idx], balls[-(j + 1)] = balls[-(j + 1)], balls[idx]
balls[-5:]

[66, 35, 9, 77, 10]

## Exercises / 2

Write a program that converts an Arabic number between 1 and 99 to a Roman numeral!

In [1]:
# solution 1
n = 48

tens = n // 10
ones = n % 10
a2r_ones = ['', 'I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX']
a2r_tens = ['', 'X', 'XX', 'XXX', 'XL', 'L', 'LX', 'LXX', 'LXXX', 'XC']
a2r_tens[tens] + a2r_ones[ones]

'XLVIII'

In [144]:
# solution 2: handle inputs between 1 and 999

def arabic_to_roman(n):
    a2r_o = ['', 'I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX']
    a2r_t = ['', 'X', 'XX', 'XXX', 'XL', 'L', 'LX', 'LXX', 'LXXX', 'XC']
    a2r_h = ['', 'C', 'CC', 'CCC', 'CD', 'D', 'DC', 'DCC', 'DCCC', 'CM']

    o = n % 10
    t = n // 10 % 10
    h = n // 100

    return a2r_h[h] + a2r_t[t] + a2r_o[o]

In [145]:
arabic_to_roman(824)

'DCCCXXIV'

Write a program that converts a roman numeral between I and CMXCIX to an arabic number!

In [147]:
roman_to_arabic = {arabic_to_roman(n): n for n in range(1, 1000)}

In [149]:
roman_to_arabic['DCXCVIII']

698