## Element of the [standard library](https://docs.python.org/3/library/index.html) I.

- Python's standard library contains more than 200 packages and modules. It provides standard solutions to everyday programming tasks.
- In the course we only attempt to overview a small subset of the standar library.
- A good programmer does not invent the wheel. If possible, he/she solves the problem with the tools of the standard library.

#### [datetime](https://docs.python.org/3/library/datetime.html)
- Provides tools for date and time handling.
- Supports date arithmetic, handles time zones, daylight time, leap years etc.
- Allows dates both with and without time zone.

In [1]:
import datetime

In [4]:
# Defining time with microsecond accuracy.
dt1 = datetime.datetime(2024, 10 , 16, 9, 16, 30, 123456)
dt1

datetime.datetime(2024, 10, 16, 9, 16, 30, 123456)

In [5]:
# Defining a date with day accuracy.
d1 = datetime.date(2024, 10, 16)
d1

datetime.date(2024, 10, 16)

In [7]:
# Time arithmetic.
dt2 = datetime.datetime(2024, 1 , 30, 10, 20, 30, 123456)
td = dt1 - dt2
td

datetime.timedelta(days=259, seconds=82560)

In [8]:
type(td)

datetime.timedelta

In [10]:
# The difference in days + seconds.
td.days, td.seconds

(259, 82560)

In [11]:
# The difference in seconds.
td.total_seconds()

22460160.0

In [12]:
# Add 8 hours to the time!
dt1 + datetime.timedelta(hours=8)

datetime.datetime(2024, 10, 16, 17, 16, 30, 123456)

In [13]:
# Arithmetic with dates.
datetime.date(2000, 3, 15) + datetime.timedelta(days=1000)

datetime.date(2002, 12, 10)

In [14]:
# Querying the current time.
datetime.datetime.now()

datetime.datetime(2024, 11, 13, 7, 19, 35, 6)

In [17]:
# Can we subtract a date object from a datetime object?
datetime.datetime.now() - datetime.date(2000, 1,1)

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date'

In [15]:
# Accessing the fields of the datetime object.
print(
    dt1.year,
    dt1.month,
    dt1.day,
    dt1.hour,
    dt1.second,
    dt1.microsecond
)

2024 10 16 9 30 123456

In [16]:
# Querying the day of week (0=Monday, ..., 6=Sunday).
dt1.weekday()

2

In [17]:
# 1st solution 
y = int(input('year:' ))
m = int(input('month:' ))
d = int(input('day:' ))

year:2024
month:10
day:24

In [18]:
(datetime.date(y, m ,d) - datetime.date(y, 1 ,1)).days + 1

298

In [20]:
# 2nd solution
y, m, d = input("enter a date yyyy-mm-dd:").split('-')
y, m, d = int(y), int(m), int(d)
(datetime.date(y, m ,d) - datetime.date(y, 1 ,1)).days + 1

enter a date yyyy-mm-dd:2024-10-24

298

In [21]:
# 3rd solution
s = input("enter a date yyyy-mm-dd: ")
dt = datetime.datetime.strptime(s,'%Y-%m-%d')
(dt - datetime.datetime(dt.year, 1 , 1)).days + 1

enter a date yyyy-mm-dd: 2024-10-24

298

In [23]:
# Exercise: Write a program that prints the names
# of the following people, ordered by ascending age.

people = [
    # name, date of birth
    ('Sam Sung', datetime.date(1957, 11, 21)),
    ('Anna Conda', datetime.date(1980, 5, 7)),
    ('Al Pacca', datetime.date(2014, 7, 30)),
    ('Ed Ward', datetime.date(1995, 2, 27)),
    ('Jack Uzzi', datetime.date(1961, 4, 1)),
    ('Scunner Campbell', datetime.date(1995, 2, 28)),
    ('Jasmine Rice', datetime.date(1980, 9, 1))
]

In [24]:
sorted(people, key= lambda age: age[1] , reverse = True)

[('Al Pacca', datetime.date(2014, 7, 30)),
 ('Scunner Campbell', datetime.date(1995, 2, 28)),
 ('Ed Ward', datetime.date(1995, 2, 27)),
 ('Jasmine Rice', datetime.date(1980, 9, 1)),
 ('Anna Conda', datetime.date(1980, 5, 7)),
 ('Jack Uzzi', datetime.date(1961, 4, 1)),
 ('Sam Sung', datetime.date(1957, 11, 21))]

In [25]:
# Exercise: Count the number of Friday the 13ths in the 20th century (from Jan 1, 1901 to Dec 31, 2000)!

counter = 0
for year in range(1901, 2001):
    for month in range(1, 13):
        if datetime.date(year, month, 13).weekday() == 4:
            counter += 1
counter

171

In [26]:
# 2nd solution

counter = 0
dt = datetime.date(1901, 1, 1)
while dt <= datetime.date(2000, 12 , 31):
    if dt.weekday() == 4 and dt.day == 13:
        counter +=1
    dt += datetime.timedelta(days=1)
counter

171

#### [time](https://docs.python.org/3/library/time.html)
- Provides tools for low level time handling, such as measuring durations and waiting.

In [69]:
import time

In [70]:
# Querying the current time (as a UNIX time stamp).
time.time()

1729069138.3307145

In [73]:
# Measuring the duration of a calculation.
t0 = time.time()
s = 0
for k in range(1,1_000_000):
    s += 1 / k**2
delta = time.time() - t0
print(s, delta)

1.64493306684777 0.41318655014038086

In [74]:
# Waiting for 2 seconds.
time.sleep(2)

#### [math](https://docs.python.org/3/library/math.html)

- Contains basic mathematical functions.
- Advice: Do not use the math module in a NumPy based code, but use NumPy's built in functions instead!

In [75]:
import math

In [76]:
# Exponential function.
math.exp(1)

2.718281828459045

In [77]:
math.exp(2)

7.38905609893065

In [78]:
# Natural logarithm.
math.log(8)

2.0794415416798357

In [79]:
# Logarithm with base q.
math.log(8,2)

3.0

In [80]:
# Trigonometric functions and their inverses.
math.sin(0)

0.0

In [81]:
math.cos(0)

1.0

In [82]:
math.tan(0)

0.0

In [83]:
math.acos(0) # the result is given in radians

1.5707963267948966

In [84]:
math.degrees(math.acos(0)) # conversion to degrees

90.0

In [87]:
# pi, e
math.pi, math.e

(3.141592653589793, 2.718281828459045)

#### [random](https://docs.python.org/3/library/random.html)
- Provides tools for generating pseudo-random numbers.

In [3]:
import random

In [90]:
# Drawing an int from a given interval.
random.randint(1, 100) # (upper limit is included)

25

In [91]:
random.randrange(1, 100) # (upper limit is not included)

68

In [95]:
# Drawing a float from a given interval.
random.uniform(-1, 1)

-0.05989504764221398

In [96]:
# Drawing from standard normal distribution.
random.normalvariate(0, 1) # parameters: mean, standard deviation

1.3607138989712038

In [29]:
# Setting the state of the random number generator.
for _ in range(2):
    random.seed(42)
    x = random.randint(1, 100)
    y = random.randint(1, 100)
    print(x, y)

82 15
82 15

In [6]:
# Creating a random number generator object.

r1 = random.Random(42)
r2 = random.Random(42)
print(
    r1.randint(1,100),
    r1.randint(1,100),
    r2.randint(1,100),
    r1.randint(1,100),
    r2.randint(1,100),
)

82 15 82 4 15

In [101]:
# Drawing an item from a sequence.
random.choice('abcd')

'c'

In [104]:
# Sampling without replacement.
random.sample(range(1, 91), 5)

[32, 29, 18, 14, 87]

In [31]:
# Exercise: Write a program that simulates a sequence of n coin tosses,

n = 20
seq = [random.choice('HT') for _ in range(n)] #simulate n coins tosses
print(' '.join(seq))
print(seq.count('T'))
print(seq.count('H'))

H T T T H H T H H T H T T T H T H T H T
11
9

In [35]:
# Exercise: Write a program that simulates a sequence of n coin tosses,
# then prints the length of the longest heads and tails sequence!

n = 20
seq = [random.choice('HT') for _ in range(n)] #simulate n coins tosses
print(' '.join(seq))

s_prev = None
max_len = {'H': 0,'T': 0}
for s in seq:
    # update the actual length
    if s != s_prev: act_len = 1
    else: act_len += 1
        
    # update maximal length for H and T
    for z in 'HT':
        if s == z and act_len > max_len[z]:
            max_len[z] = act_len

    s_prev = s
    
max_len

H T H H T T T T H H T H H H H H T H T T

{'H': 5, 'T': 4}

In [36]:
# 2nd solution
batches = ''.join(seq).replace('HT', 'H|T').replace('TH', 'T|H').split('|')
for z in 'HT':
    print(z, max(len(b) for b in batches if b[0] == z))

H 5
T 4

In [38]:
# 3rd solution
x = ''.join(seq)
print('H', len(max(x.split('T'), key=len)))
print('T', len(max(x.split('H'), key=len)))

H 5
T 4

## [Exception handling](https://docs.python.org/3/tutorial/errors.html)

- Exception handling is a modern approach to managing errors that occur during program execution. It allows developers to handle errors at the most appropriate locations in the code.


- In older error handling methods that relied on error codes, managing errors was less elegant. If an error occurred deep within a function call stack, each calling function had to check for error codes and handle them accordingly. This led to repetitive code and sometimes the use of cumbersome GOTO statements to redirect the flow of execution for error handling.


- Python streamlines error management using exceptions. You can raise an exception using the [raise](https://docs.python.org/3/reference/simple_stmts.html#the-raise-statement) statement when an error condition occurs. This exception can then be caught by a [try](https://docs.python.org/3/reference/compound_stmts.html#the-try-statement) statement with an `except` clause at the appropriate level in the call stack. This means you don't have to handle the error at every intermediate step, reducing code duplication and making your code cleaner.


- Python has a built-in [hierarchy of exception types](https://docs.python.org/3/library/exceptions.html#exception-hierarchy), allowing the developer to catch specific exceptions and handle them differently based on their type. This hierarchy helps in writing precise error handling code.

In [39]:
# Creating an exception.
print('foo')
raise ValueError('banana')
print('bar')

foo

ValueError: banana

In [40]:
def f1():
    f2()
    print('bar')
    
def f2():
    raise ValueError('monkey')
    print('foo')
    
f1()

ValueError: monkey

In [42]:
# Catching an exception.
while True:
    try:    
        x = float(input('x: '))
        y = float(input('y: '))
        print(f'x / y = {x / y}')
        break
    except ValueError:
        print('a and y should be numbers')
    except ZeroDivisionError:
        print('y should not be 0')  
    finally:
        print('FOO')

x: a
a and y should be numbers
FOO
x: 2
y: a
a and y should be numbers
FOO
x: 2
y: 0
y should not be 0
FOO
x: 2
y: 3
x / y = 0.6666666666666666
FOO

## Debugging

In [43]:
# First step: ALWAYS read the error message! :-)
1 / 0

ZeroDivisionError: division by zero

In [44]:
# Example for an erroneous function.
def calc_average(list_of_lists):
    joined = []
    for l in list_of_lists:
        joined.append(l)
    return sum(joined) / len(joined)

In [45]:
sequences = [[1, 2, 3], [4, 5], [6, 7]]
print(calc_average(sequences))

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [46]:
# Find the error using the %debug command!
%debug

> /tmp/ipykernel_32375/749494181.py(6)calc_average()
      2 def calc_average(list_of_lists):
      3     joined = []
      4     for l in list_of_lists:
      5         joined.append(l)
----> 6     return sum(joined) / len(joined)

ipdb> print(joined)
[[1, 2, 3], [4, 5], [6, 7]]
ipdb> q

In [47]:
# The corrected version of the function.
def calc_averagev2(list_of_lists):
    joined = []
    for l in list_of_lists:
        joined.extend(l)
    return sum(joined) / len(joined)

In [48]:
sequences = [[1, 2, 3], [4, 5], [6, 7]]
print(calc_averagev2(sequences))

4.0