## Python Programming Practice Exam

```
Scoring:
============
 0-11: fail (1),
12-14: pass (2),
15-17: satisfactory (3),
18-20: good (4),
21-24: excellent (5).
```

### Problem 1
<p style="text-align: right">(12 points)</p>

Write a program that asks two strings from the user and then prints the number of bigrams that appear in both strings.
By bigram we mean a substring of length 2, for instance the bigram decomposition of the string `papabear` is `pa`-`ap`-`pa`-`ab`-`be`-`ea`-`ar`. Example run:

```
1st string: papabear
2nd string: mamabear
Number of common bigrams: 4
```

In [13]:
# user input
s1 = input('1st string: ')
s2 = input('2nd string: ')

# bigram decomposition
b1 = {s1[i:i + 2] for i in range(len(s1) - 1)}
b2 = {s2[i:i + 2] for i in range(len(s2) - 1)}

# number of common bigrams
len(b1 & b2)

1st string:  papabear
2nd string:  mamabear

4

### Problem 2
<p style="text-align: right">(12 points)</p>

The file [nba_games.txt](nba_games.txt) contains data about NBA basketball games, from season 2013 to season 2019. Write a program that loads the data and then answers the following questions:

**(a)**: What percentage of the games was won by the home team (the home team wins if `PTS_home` is greater than `PTS_away`)?<br>
**(b)**: How many games had more than 130 rebounds (based on the sum of `REB_home` and `REB_away`)?<br>
**(c)**: Which was the game with the largest point difference between the teams?<br>
**(d)**: What is the ranking of the teams, based on the number of games won?

In [19]:
# load data from CSV
import pandas as pd
df = pd.read_csv('nba_games.txt', sep='|', comment='#')
df.head()

,SEASON,DATE,TEAM_home,TEAM_away,PTS_home,PTS_away,REB_home,REB_away,AST_home,AST_away,FG3_PCT_home,FG3_PCT_away
0,2019,2020-10-11,Miami Heat,Los Angeles Lakers,93,106,41,46,25,23,35.7,31.4
1,2019,2020-10-09,Los Angeles Lakers,Miami Heat,108,111,41,35,21,26,36.8,42.4
2,2019,2020-10-06,Miami Heat,Los Angeles Lakers,96,102,39,42,18,25,34.4,35.9
3,2019,2020-10-04,Miami Heat,Los Angeles Lakers,115,104,37,43,25,23,35.3,33.3
4,2019,2020-10-02,Los Angeles Lakers,Miami Heat,124,114,44,37,32,29,34.0,40.7

In [20]:
# check data quality
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23372 entries, 0 to 23371
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SEASON        23372 non-null  int64
 1   DATE          23372 non-null  object
 2   TEAM_home     23372 non-null  object
 3   TEAM_away     23372 non-null  object
 4   PTS_home      23372 non-null  int64
 5   PTS_away      23372 non-null  int64
 6   REB_home      23372 non-null  int64
 7   REB_away      23372 non-null  int64
 8   AST_home      23372 non-null  int64
 9   AST_away      23372 non-null  int64
 10  FG3_PCT_home  23372 non-null  float64
 11  FG3_PCT_away  23372 non-null  float64
dtypes: float64(2), int64(7), object(3)
memory usage: 2.1+ MB

In [22]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SEASON,23372.0,2010.973686,4.864080,2003.0,2007.0,2011.0,2015.0,2019.0
PTS_home,23372.0,102.268013,12.948549,36.0,93.0,102.0,111.0,168.0
PTS_away,23372.0,99.318030,13.015332,33.0,90.0,99.0,108.0,168.0
REB_home,23372.0,43.186548,6.606201,15.0,39.0,43.0,48.0,72.0
REB_away,23372.0,41.870786,6.498799,19.0,37.0,42.0,46.0,81.0
AST_home,23372.0,22.533459,5.152033,6.0,19.0,22.0,26.0,47.0
AST_away,23372.0,21.131824,5.082061,4.0,18.0,21.0,24.0,46.0
FG3_PCT_home,23372.0,35.552999,11.435611,0.0,28.3,35.5,42.9,100.0
FG3_PCT_away,23372.0,34.881871,11.240852,0.0,27.6,35.0,42.1,100.0

In [33]:
# (a): What percentage of the games was won by the home team (the home team wins if PTS_home is greater than PTS_away)?
(df['PTS_home'] > df['PTS_away']).mean() * 100

59.37446517200069

In [38]:
# (b): How many games had more than 130 rebounds (based on the sum of REB_home and REB_away)?
(df['REB_home'] + df['REB_away'] > 130).sum()

3

In [40]:
#df[df['REB_home'] + df['REB_away'] > 130]

In [57]:
# (c): Which was the game with the largest point difference between the teams?
se = (df['PTS_home'] - df['PTS_away']).abs()

# se = pd.Series([abs(x) for x in se])
# (se**2)**0.5

df.loc[se.idxmax()]

SEASON                       2017
DATE                   2018-03-22
TEAM_home       Charlotte Hornets
TEAM_away       Memphis Grizzlies
PTS_home                      140
PTS_away                       79
REB_home                       53
REB_away                       38
AST_home                       25
AST_away                       13
FG3_PCT_home                 47.5
FG3_PCT_away                 22.2
Name: 17986, dtype: object

In [69]:
# (d): What is the ranking of the teams, based on the number of games won?
df['home_win'] = df['PTS_home'] > df['PTS_away']
df['away_win'] = df['PTS_away'] > df['PTS_home']
se = df.groupby('TEAM_home')['home_win'].sum() + df.groupby('TEAM_away')['away_win'].sum()
se.sort_values(ascending=False)

TEAM_home
San Antonio Spurs         1101
Miami Heat                 943
Houston Rockets            942
Boston Celtics             926
Dallas Mavericks           907
Golden State Warriors      886
Denver Nuggets             868
Oklahoma City Thunder      862
Los Angeles Lakers         851
Indiana Pacers             841
Cleveland Cavaliers        831
Utah Jazz                  817
Toronto Raptors            812
Los Angeles Clippers       797
Detroit Pistons            792
Chicago Bulls              784
Portland Trail Blazers     776
Phoenix Suns               755
Memphis Grizzlies          754
Orlando Magic              717
Atlanta Hawks              712
Milwaukee Bucks            707
New Orleans Pelicans       693
Washington Wizards         666
Philadelphia 76ers         656
Brooklyn Nets              653
Sacramento Kings           609
Minnesota Timberwolves     584
New York Knicks            577
Charlotte Hornets          553
dtype: int64

In [81]:
# alternative solution (without introducing new columns)
home_win = df['PTS_home'] > df['PTS_away']
se = df[home_win].groupby('TEAM_home').size() + df[~home_win].groupby('TEAM_away').size()
se.sort_values(ascending=False)

TEAM_home
San Antonio Spurs         1101
Miami Heat                 943
Houston Rockets            942
Boston Celtics             926
Dallas Mavericks           907
Golden State Warriors      886
Denver Nuggets             868
Oklahoma City Thunder      862
Los Angeles Lakers         851
Indiana Pacers             841
Cleveland Cavaliers        831
Utah Jazz                  817
Toronto Raptors            812
Los Angeles Clippers       797
Detroit Pistons            792
Chicago Bulls              784
Portland Trail Blazers     776
Phoenix Suns               755
Memphis Grizzlies          754
Orlando Magic              717
Atlanta Hawks              712
Milwaukee Bucks            707
New Orleans Pelicans       693
Washington Wizards         666
Philadelphia 76ers         656
Brooklyn Nets              653
Sacramento Kings           609
Minnesota Timberwolves     584
New York Knicks            577
Charlotte Hornets          553
dtype: int64